{% set acount = archivecount|default(0) %}
<div class="card">
	<div class="card-header">
		<div class="card-subtitle text-gray">
			{% if page.header.archivetype == 'archive' %}
				{% include 'partials/blog/dummy.html.twig' %}

			{% else %}
				{% include 'partials/blog/date.html.twig' %}
			{% endif %}
		</div>
		<div class="card-title">
			{% if page.header.eventdate <= "" %}
				{% include 'partials/blog/title.html.twig' with {title_level: 'h5'} %}
			{% else %}
				{% if date(page.header.eventdate) > date('NOW') %}

					{% include 'partials/blog/title2.html.twig' with {title_level: 'h5'} %}

				{% else %}
					{% include 'partials/blog/title.html.twig' with {title_level: 'h5'} %}
				{% endif %}
			{% endif %}
		</div>
	</div>
	<div class="card-body">
		{% set content = page.content|slice(page.summary|length) %}
		{% if page.header.archivetype == 'archive' %}
			{% if acount > 1 %}
				{% set astr = 'archivierte Artikel' %}
			{% else %}
				{% set astr = 'archivierter Artikel' %}
			{% endif %}
			<a href="{{ page.url }}" class="u-url">{{ acount }}
				{{ astr }}</a>
		{% else %}
			<a href="{{ page.url }}" class="u-url">{{ content|raw }}</a>
		{% endif %}
	</div>
	<div class="card-footer">
		{% include 'partials/blog/taxonomy.html.twig' %}
	</div>
</div>
