{% if style == 'count' %}

	{% if gallery_images.count > 0 %}
		<p>
			<small>
				Bilder in dieser Galerie:

				{{ gallery_images.count }}</small>
		</p>
	{% endif %}
{% elseif style == 'countmp3' %}

	{% if gallery_images.count > 0 %}
		{% set thispath = slug|split('/')|join('/','#') %}
		<a href='{{ thispath }}'>

			<i class="fa fa-file-audio-o fa-lg"></i>
			{{ gallery_images.count }}
		</a>
	{% endif %}
{% elseif style == 'countpdf' %}

	{% if gallery_images.count > 0 %}
		{% set thispath = slug|split('/')|join('/','#') %}

		<a href='{{ thispath }}'>

			<i class="fa fa-file-pdf-o fa-lg"></i>
			{{ gallery_images.count }}
		</a>
	{% endif %}

{% elseif style == 'countyoutube' %}
	{% set thispath = slug|split('/')|join('/','#') %}

	<a href='{{ thispath }}'>

		<i class="fa fa-youtube fa-lg"></i>
		{% if gallery_images.count > 0 %}
			{{ gallery_images.count }}
		{% endif %}
	</a>

{% elseif style == 'cardimages' %}
	<!-- show all images with filename starting with "__"	or first image -->
	<div class="dir-gallery-thumbnails-masonry {% if align == 'right' %}dir-gallery-right{% endif %} {% if align == 'left' %}dir-gallery-left{% endif %}" style="width:{{ width }}%">
		{% set imagecount = 0 %}
		{% set use_ahref = false %}
		{%~ for image in gallery_images %}
		{% if image.filename starts with '__' %}

			{% include 'partials/gallery-imagename.twig' %}

			{% set imagecount = imagecount + 1 %}
		{% endif %}
		{%~ endfor %}
		{% if imagecount == 0 %}
			{% set use_ahref = false %}
			{%~ for image in gallery_images %}
			{% if imagecount == 0 %}

				{% include 'partials/gallery-imagename.twig' %}

				{% set imagecount = imagecount + 1 %}
			{% endif %}
			{%~ endfor %}
		{% endif %}
	</div>
{% elseif style == 'mp3' %}
	{% if gallery_images.count > 0 %}
		<div class="dir-gallery-mp3">

			<h4 id='mp3' class="dir-gallery-mp3-title">
				<i class="fa fa-file-audio-o"></i>MP3-Dateien
			</h4>
			<div class="dir-gallery-tmp3-item {% if align == 'right' %}dir-gallery-right{% endif %} {% if align == 'left' %}dir-gallery-left{% endif %}" style="width:{{ width }}%">
				{%~ for image in gallery_images|sort %}

				{% set use_ahref = true %}
				{% include 'partials/gallery-imagename.twig' %}
				{%~ endfor %}
			</div>
		</div>
	{% endif %}
{% elseif style == 'pdf' %}
	{% if gallery_images.count > 0 %}
		<div class="dir-gallery-mp3">
			<h4 id='pdf' class="dir-gallery-mp3-title">
				<i class="fa fa-file-pdf-o"></i>Noten als PDF

			</h4>
			<div class="dir-gallery-tmp3-item {% if align == 'right' %}dir-gallery-right{% endif %} {% if align == 'left' %}dir-gallery-left{% endif %}" style="width:{{ width }}%">
				{%~ for image in gallery_images %}
				{% set use_ahref = true %}
				{% include 'partials/gallery-imagename.twig' %}
				{%~ endfor %}
			</div>
		</div>
	{% endif %}
{% elseif style == 'youtube' %}
	{% if gallery_images.count > 0 %}
		<div class="dir-gallery-pdf">
			<h4 id='ytlinks' class="dir-gallery-pdf-title">
				<i class="fa fa-youtube"></i>YouTube-Videos

			</h4>
			<div class="dir-gallery-tmp3-item {% if align == 'right' %}dir-gallery-right{% endif %} {% if align == 'left' %}dir-gallery-left{% endif %}" style="width:{{ width }}%">
				{%~ for image in gallery_images %}
				{% set ytlink = image.filename|replace('_',' ')|split('.')|first %}

				Youtube-Link: "https://www.youtube.com/embed/{{ ytlink }}"
				<div class="grav-youtube">
					<iframe src="https://www.youtube.com/embed/{{ ytlink }}" frameborder="0" allowfullscreen=""></iframe>
				</div>

				{%~ endfor %}
			</div>
		</div>
	{% endif %}

{% elseif style == 'masonry' %}


	<div class="dir-gallery-thumbnails-masonry {% if align == 'right' %}dir-gallery-right{% endif %} {% if align == 'left' %}dir-gallery-left{% endif %}" style="width:{{ width }}%">
		{%~ for image in gallery_images %}
		{% set use_ahref = true %}
		{% include 'partials/gallery-imagename.twig' %}
		{%~ endfor %}
	</div>
{% else %}

	<div class="dir-gallery-thumbnails-grid {% if align == 'right' %}dir-gallery-right{% endif %} {% if align == 'left' %}dir-gallery-left{% endif %}" style="width:{{ width }}%">
		{%~ for image in gallery_images %}
		{% set use_ahref = true %}
		{% include 'partials/gallery-imagename.twig' %}
		{%~ endfor %}
	</div>

{% endif %}
