<article class="event-article">
    <header class="event-header">
    {% set image = page.media.images|first %}
    {% if image != null %}
        {{ image.cropZoom(960,280).html }}
    {% endif %}
    </header>

    <section class="event">
        <div class="event-left-column"> {# date and time #}
            <time class="event-datetime" datetime="{{ page.date|date("c") }}">

        {% if single == true %} {# individual content page #}
            <!--<span class="event-date">{{ page.header.event.start|td(null, config.plugins.events.event_item.date) }},</span>
            <span class="event-time">
                {% set end = "" %}
                {% if page.header.event.end %}
                    {% set end = " - " ~ page.header.event.end|td(null, config.plugins.events.event_item.time) %}
                {% endif %}
                {{ page.header.event.start|td(null, config.plugins.events.event_item.time) ~ end }}
            </span>-->
            <h4><span class="event-title">{{ page.header.title }}</span></h4>

        {% else %} {# main listing page #}
            <span class="event-day">{{ page.header.event.start|td(null, config.plugins.events.event_item.day) }}.</span>
            <span class="event-day">{{ page.header.event.start|td(null, config.plugins.events.event_item.month) }}.</span> 
            {% if page.header.event.start|td(null, config.plugins.events.event_item.time)|string != '00:00 ' %}
                <span class="event-time">
                    {{ page.header.event.start|td(null, config.plugins.events.event_item.time)}}{{ " - " }}{{ page.header.event.end|td(null, config.plugins.events.event_item.time) }}
                </span>
            {% endif %}
            <span class="event-year">{{ page.header.event.start|date("Y") }}</span>
        {% endif %}
            </time>
        </div>

        <div class="event-right-column"> {# date and time #}
        {% if single == true %} {# individual content page #}
            {% if page.header.event.start|td(null, config.plugins.events.event_item.time)|string == '00:00 ' %}
                <h5><span class="event-date">{{ page.header.event.start|td(null, config.plugins.events.event_item.date) }}</span></h5>
            {% else %}

                {% if page.header.event.start|td(null, config.plugins.events.event_item.day) == page.header.event.end|td(null, config.plugins.events.event_item.day) %}

                    <h5><span class="event-date">{{ page.header.event.start|td(null, config.plugins.events.event_item.date) }}</span>
                    <span class="event-time">
                    {% set end = "" %}
                    {% if page.header.event.end %}
                            {% set end = " - " ~ page.header.event.end|td(null, config.plugins.events.event_item.time) ~ ' Uhr' %}
                    {% endif %}
                    </br>{{ page.header.event.start|td(null, config.plugins.events.event_item.time) ~ end }}
                </span></h5>
                {% else %}
                    {% if page.header.event.start %}
                        {% set start = page.header.event.start|td(null, config.plugins.events.event_item.date) ~ ' ' ~  page.header.event.start|td(null, config.plugins.events.event_item.time) ~ ' Uhr' %}
                    {% endif %}
                    {% if page.header.event.end %}
                        {% set end = ' - ' ~ page.header.event.end|td(null, config.plugins.events.event_item.date) ~ ' ' ~  page.header.event.end|td(null, config.plugins.events.event_item.time) ~ ' Uhr' %}
                    {% endif %}
                    <h5><span class="event-time">{{ start }}</span><br>
                    <span class="event-time">{{ end }}</span></h5>
                {% endif %}
            {% endif %}
            
            </br>
            {% if (config.plugins.events.event_meta.display_location) and (page.header.event.location is not empty) %}
            <h7 class="event-location"><span class="location-pin"></span>{{ page.header.event.location }}</h7>
            {% endif %}
            </br>
            <div class="event-content">{{ page.content|raw }}</div>
            </br>
            {# availibilty #}
            {% include 'partials/choerchen_availibility_form.html.twig' %}
            {#% include 'partials/event_meta.html.twig' with { 'page': page } %#}
            {% include 'partials/choerchen_availibility.html.twig' %}

        {% else %} {# main listing page #}
            <h3 class="event-title"><a href="{{ page.url }}">{{ page.header.title }}</a></h3></br>
            {% if (config.plugins.events.event_meta.display_location) and (page.header.event.location is not empty) %}
            <h5 class="event-location"><span class="location-pin"></span>{{ page.header.event.location }}</h5>
            {% endif %}
            <div class="event-summary">{{ page.summary(300)|raw }}
                </br><span class="read-more"><a href="{{ page.url }}">{{ "PLUGIN_EVENTS.EVENTS.MORE_INFORMATION"|t }}</a></span>
            </div>
        {% endif %}

        {% if page.taxonomy.category and config.plugins.events.event_sidebar.enable_categories %}
            <div class="event-categories">
                <span class="event-tags">
                {% for category in page.taxonomy.category %}
                    <a href="{{ event.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}">{{ category }}</a>
                {% endfor %}
                </span>
            </div>
        {% endif %}
        </div>
    </section>
    {% if single == true %}
	<p class="prev-next text-center">
		{% if not page.isFirst %}
			<a class="btn" href="{{ page.nextSibling.url }}">{{ 'THEME_QUARK.BLOG.EVENT.PREV_POST'|t }}<i class="fa fa-angle-left"></i>
			</a>
		{% endif %}
		{% if not page.isLast %}
			<a class="btn" href="{{ page.prevSibling.url }}">
				<i class="fa fa-angle-right"></i>
				{{ 'THEME_QUARK.BLOG.EVENT.NEXT_POST'|t }}</a>
		{% endif %}
	</p>
	{% endif %}
</article>
<article class="event-separator"></article>
