{% set collection = page.children.first.children %}
{% set publishedChilds = collection.published %}
{% set sortedCollection = publishedChilds.order('date','asc') %}

{% set newspage = sortedCollection.last %}
{% set content = newspage.content|slice(newspage.summary|length) %}
{% set summary = newspage.summary %}


<div class="newsinfo">
	<div class="notices blue">
		<a href={{ newspage.url }}>
			<b>{{ newspage.title }}</b>
			<div>
				{{ newspage.summary|raw }}

			</div>
			<div class="newsiteminfo">
				<div>
					<time class="dt-published" datetime="{{ newspage.date|date("c") }}">
						<i class="fa fa-calendar"></i>
						{{ newspage.date|date(system.pages.dateformat.short) }}
					</time>
					{% if newspage.content == newspage.summary %}
						&nbsp;
					{% else %}
						<a href={{ newspage.url }}>
							<i class="fa fa-hand-o-right"></i>
							weiterlesen ...
						</a>
					{% endif %}
				</div>
			</div>
		</a>
	</div>
</div>
