{% set newspage = page.children.first.children.first %}
{% set content = newspage.content|slice(newspage.summary|length) %}

<div class="newsinfo">
	<div class="notices blue">
		<a href={{ newspage.url }}>
			<div>
				{{ content|raw }}
			</div>
			<div class="newsiteminfo">
				<div>
					<time class="dt-published" datetime="{{ newspage.date|date("c") }}">
						<i class="fa fa-calendar"></i>
						{{ newspage.date|date(system.pages.dateformat.short) }}
					</time>
					<a href={{ newspage.url }}>
						<i class="fa fa-hand-o-right"></i>
						weiterlesen...
					</a>
				</div>
			</div>
		</a>
	</div>
</div>
