{% set tabnr1=9 %}
{% set tabnr2=10 %}

{% set tabcolor='green' %}
{% set tagdir='' %}
{% for tag in page.taxonomy.dirigat %}
	{% if tagdir|trim is empty %}
		{% set tagdir=tag %}
	{% else %}
		{% set tagdir=tagdir~', '~tag %}
	{% endif %}
{% endfor %}
{% set taglang='' %}
{% for tag in page.taxonomy.sprache %}
	{% if taglang|trim is empty %}
		{% set taglang=tag %}
	{% else %}
		{% set taglang=taglang~', '~tag %}
	{% endif %}
{% endfor %}
{% set taginstr='' %}
{% for tag in page.taxonomy.instrumente %}
	{% if taginstr|trim is empty %}
		{% set taginstr=tag %}
	{% else %}
		{% set taginstr=taginstr~', '~tag %}
	{% endif %}
{% endfor %}
{% set tagjahr='' %}
{% for tag in page.taxonomy.erstjahr %}
	{% if tagjahr|trim is empty %}
		{% set tagjahr=tag %}
	{% else %}
		{% set tagjahr=tagjahr~', '~tag %}
	{% endif %}
{% endfor %}
{% set tagwordmusic='' %}
{% for tag in page.taxonomy.wordmusic %}
	{% if tagwordmusic|trim is empty %}

		{% set tagwordmusic=tag %}

	{% else %}
		{% set tagwordmusic=tagwordmusic~', '~tag %}


	{% endif %}
{% endfor %}
{% set tagarranged='' %}
{% for tag in page.taxonomy.arranged %}
	{% if tagarranged|trim is empty %}

		{% set tagarranged=tag %}

	{% else %}
		{% set tagarranged=tagarranged~', '~tag %}


	{% endif %}
{% endfor %}


<section class="container grid-lg">
	<div class='simple-responsive-table'>
		<div>
			<table id="tstableid{{ tabnr1 }}" class="tablesorter tablesorter-{{ tabcolor }}" role="grid">

				<tbody aria-live="polite" aria-relevant="all">

					{% if tagdir|trim is not empty %}

						<tr role="row" class="tablesorter-headerRow" style="text-align:left">
							<td style="text-align:left" width='30%'>Dirigat:&nbsp;&nbsp;</td>

							<td style="text-align:left">{{ tagdir }}</td>
						</tr>
					{% endif %}
					{% if taglang|trim is not empty %}

						<tr role="row" class="tablesorter-headerRow" style="text-align:left">

							<td style="text-align:left" width='30%'>Sprache&nbsp;&nbsp;</td>


							<td style="text-align:left">{{ taglang }}</td>

						</tr>
					{% endif %}
					{% if taginstr|trim is not empty %}

						<tr role="row" class="tablesorter-headerRow" style="text-align:left">

							<td style="text-align:left" width='30%'>Instrumente&nbsp;&nbsp;</td>


							<td style="text-align:left">{{ taginstr }}</td>


						</tr>
					{% endif %}


				</tbody>
			</table>
		</div>
	</div>
</br>&nbsp;</br><div class='simple-responsive-table'>
<div>
	<table id="tstableid{{ tabnr2 }}" class="tablesorter tablesorter-{{ tabcolor }}" role="grid">

		<tbody aria-live="polite" aria-relevant="all">

			{% if tagjahr|trim is not empty %}


				<tr role="row" class="tablesorter-headerRow" style="text-align:left">
					<td style="text-align:left" width='30%'>Erscheinungsjahr:&nbsp;&nbsp;</td>


					<td style="text-align:left">{{ tagjahr }}</td>


				</tr>
			{% endif %}
			{% if tagwordmusic|trim is not empty %}


				<tr role="row" class="tablesorter-headerRow" style="text-align:left">

					<td style="text-align:left" width='30%'>Worte & Musik&nbsp;&nbsp;</td>


					<td style="text-align:left">{{ tagwordmusic }}</td>


				</tr>
			{% endif %}
			{% if tagarranged|trim is not empty %}


				<tr role="row" class="tablesorter-headerRow" style="text-align:left">

					<td style="text-align:left" width='30%'>Arrangement&nbsp;&nbsp;</td>


					<td style="text-align:left">{{ tagarranged }}</td>


				</tr>
			{% endif %}


		</tbody>
	</table>
</div></div></section>
