{% if page.taxonomy.tag %}
	<span class="tags">


		{% if blog.url == "" %}
			{% set thisUrl='/choerchen-intern/choerchennoten' %}
			{% set thisUrl= page.parent.url %}

		{% else %}
			{% set thisUrl = blog.url %}
		{% endif %}

		{% for tag in page.taxonomy.tag %}
			<a class="label label-rounded {{ label_style ?: 'label-secondary' }} p-category" href="{{ thisUrl|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}/query:{{ tag }}#body-wrapper">{{ tag }}</a>
		{% endfor %}

	</span>
{% endif %}
