{% set vote_category = page.header.votingcategory %}
{% set vote_tag = page.header.votingtag %}

{% if not hero_image_name %}
	<div class="content-title text-center">
		{% include 'partials/blog/title.html.twig' with {title_level: 'h2'} %}
		{% if page.header.subtitle %}
			<h3>{{ page.header.subtitle }}</h3>
		{% endif %}
		{% include 'partials/blog/date.html.twig' %}


	</div>
{% endif %}

<div class="e-content">
	{{ page.content|raw }}
</div>


<section class="container grid-lg">
	<div class='simple-responsive-table'>
		<div>
			<table id="tstableid1" class="tablesorter tablesorter-blue" role="grid">
				<thead>
					<tr role="row" class="tablesorter-headerRow">
						<th data-column="0" class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col" role="columnheader" aria-disabled="false" aria-controls="tstableid1" unselectable="on" aria-sort="none" aria-label="Titel: No sort applied, activate to apply an ascending sort" style="-webkit-user-select: none;">
							<div class="tablesorter-header-inner">Titel</div>
						</th>
						<th data-column="1" class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col" role="columnheader" aria-disabled="false" aria-controls="tstableid1" unselectable="on" aria-sort="none" aria-label="b: No sort applied, activate to apply an ascending sort" style="-webkit-user-select: none;">
							<div class="tablesorter-header-inner">Bewertung</div>
						</th>
						<th data-column="2" class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col" role="columnheader" aria-disabled="false" aria-controls="tstableid1" unselectable="on" aria-sort="none" aria-label="c: No sort applied, activate to apply an ascending sort" style="-webkit-user-select: none;">
							<div class="tablesorter-header-inner">Anzahl</div>
						</th>
					</tr>
				</thead>
			</tr>
		</thead>
		<tbody aria-live="polite" aria-relevant="all">

			{% for p in taxonomy.findTaxonomy({'tag':[vote_tag],'category':vote_category}) %}
				{# {% for p in pages.find('/choerchen-intern/choerchennoten').children if p != page %} #}
				{% set my_votes = star_data(p.route) %}
				{% if my_votes.count > 0 %}
					<tr role="row" class="tablesorter-headerRow"></tr>


					<td>
						<a href="{{ p.url|e }}">{{ p.title|e }}</a>
					</td>
					<td>{{ my_votes.score}}</td>
					<td>
						{{ my_votes.count }}</td>
				</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table></div></div></section><p class="prev-next text-center">{% if not page.isLast %}<a class="btn" href="{{ page.prevSibling.url }}">
<i class="fa fa-angle-left"></i>
{{ 'THEME_QUARK.BLOG.ITEM.PREV_POST'|t }}</a>{% endif %}{% if not page.isFirst %}<a class="btn" href="{{ page.nextSibling.url }}">{{ 'THEME_QUARK.BLOG.ITEM.NEXT_POST'|t }}
<i class="fa fa-angle-right"></i></a>{% endif %}</p>
