{% extends 'partials/base2.html.twig' %}
{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}

{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}

{% block stylesheets %}
	{% do assets.addCss('theme://css/bricklayer.css') %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% do assets.add('theme://js/bricklayer.min.js') %}
	{% do assets.add('theme://js/scopedQuerySelectorShim.min.js') %}
{% endblock %}

{% block body %}
	<section id="body-wrapper" class="section blog-listing">
		<section class="container {{ grid_size }}">
			{% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
				{% include 'partials/breadcrumbs.html.twig' %}
			{% endif %}

			{% include 'partials/news-item.html.twig' %}
			{{ stars(page.route)|raw }}
			{% set my_data = star_data(page.route) %}
			{{ my_data.count }}


			<div>
				<br>
				<p>
					{% if page.header.use_taxonomy %}

						{% include 'partials/taxonomylist.html.twig' with {base_url: page.url , taxonomy: 'category', children_only: true} %}
					{% endif %}

				</p>
			</p>
		</div>

		{% set pageList = [] %}
		{% for p in pages.find('/choerchen-intern/choerchennoten').children if p != page %}
			{% set my_vote = star_data(p.route) %}
			{% if my_vote.count > 0 %}
				{% set pageItem = {
					'score': my_vote.score,
					'title': p.title,
					'url': p.url,
					'count': my_vote.count
				} %}
				{% set pageList = pageList|merge([pageItem]) %}
			{% endif %}
		{% endfor %}
		{# {% set sortedPageList = pageList|sort((a, b) => b.score <= a.score) %} #}
		{% set sortedPageList = pageList|sort|reverse %}
		{# {% set sortedPageList = pageList|sort('score') %} #}

		<ul>
			{% for pageItem in sortedPageList %}
				<li>
					<a href="{{ pageItem.url }}">
						{{ pageItem.title }}
						({{pageItem.score}}
						Punkte)
						{{pageItem.count}}</a>
				</li>
			{% endfor %}
		</ul>

		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Votes</th>
					<th>Score</th>
				</tr>
			</thead>
			<tbody>
				{% for pageItem in sortedPageList %}
					<tr>
						<td>
							<a href="{{ pageItem.url }}">{{ pageItem.title }}</a>
						</td>
						<td>{{ pageItem.count }}</td>
						<td>{{ pageItem.score  }}</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>


		{% embed 'partials/layout.html.twig' with {blog: page} %}
			{% block item %}

				{{ date('-50days')|date("m/d/Y")}}


				<div class="bricklayer">
					{% for child in collection|filter(child => date(child.date) > date('-50days')) -%}
						{% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %}
						xxx
						{{ child.header.eventdate }}xxx


						{% if date(child.header.eventdate) > date %}
							yes
						{% else %}
							not
						{% endif %}

					{% endfor %}
					{% for child in collection|filter(child => date(child.date) < date('-50days')) -%}
						{% include 'partials/blog-list-item_past.html.twig' with {blog: page, page: child} %}
					{% endfor %}
				</div>

				{% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
					<div id="listing-footer">
						{% include 'partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
					</div>
				{% endif %}

			{% endblock %}

		{% endembed %}
	</section>
</section>
<script>
	// Bricklayer
var bricklayer = new Bricklayer(document.querySelector('.bricklayer'))
</script>{% endblock %}
