{% extends 'partials/base.html.twig' %}
{% set collection = page.collection() %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, events])|defined(true) %}
{% set show_pagination = header_var('show_pagination', [page, events])|defined(false) %}
{% set show_sidebar = header_var('show_sidebar', [page, events])|defined(false)  %}

{% block content %}
	{% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
		{% include 'partials/breadcrumbs.html.twig' %}
	{% endif %}

	{{ page.content|raw }}

	<div class="events-container">
		<section class="events-listing">
			{% if collection|length != 0 %}
				{% for event in collection %}
					<h2 class="event-title">
						<a href="{{ event.url }}">{{ eventtime }}</a>
					</h2>
					{% if (config.plugins.events.event_meta.display_location) and (event.header.event.location is not empty) %}
						<h3 class="event-location">
							<span class="location-pin"></span>
							{{ event.header.event.location }}</h3>
					{% endif %}

					<div class="event-summary">{{ page.summary(300)|raw }}
						<span class="read-more">
							<a href="{{ event.url }}">{{ "PLUGIN_EVENTS.EVENTS.MORE_INFORMATION"|t }}</a>
						</span>
					</div>

				{% endfor %}
			{% else %}
				<h3>{{ "PLUGIN_EVENTS.EVENTS.NO_EVENTS_TITLE"|t }}</h3>
				<p>{{ ("PLUGIN_EVENTS.EVENTS.NO_EVENTS_CONTENT"|t(uri.param('category')))|markdown }}</p>
			{% endif %}
		</section>
		{#{% include 'partials/events_sidebar.html.twig' with { 'page': page.parent } %}#}
	</div>

	{# Render the pagination list #}
	{% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
		<div id="listing-footer">
			{% include 'partials/pagination.html.twig' with { base_url: page.url, pagination: collection.params.pagination } %}
		</div>
	{% endif %}

{% endblock %}
