{% extends 'partials/base.html.twig' %}
{% set collection = page.collection() %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, events])|defined(true) %}
{% set show_pagination = header_var('show_pagination', [page, events])|defined(false) %}
{% set show_sidebar = header_var('show_sidebar', [page, events])|defined(false)  %}

{% block content %}
	{% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
		{% include 'partials/breadcrumbs.html.twig' %}
	{% endif %}

	{{ page.content|raw }}

	<div>
		{% markdown %}
		| Beginn |  | Ende |  | Titel | Location |
		|---------|----------|---------|----------|---------|----------|
		{% for p in collection %}
			{% set title = p.title|split(' ')[0] %}
			{% set start = p.header.event.start|td(null, config.plugins.events.event_item.date) ~ ' | ' ~ p.header.event.start|td(null, config.plugins.events.event_item.time) %}
			{% set end = p.header.event.end|td(null, config.plugins.events.event_item.date) ~ ' | ' ~ p.header.event.end|td(null, config.plugins.events.event_item.time) %}
			{% set txt = '| ' ~ start ~ '| ' ~ end  ~ '| **' ~ title ~ '** | ' ~ p.header.event.location ~ ' |' %}
			{{ txt }}
		{% endfor %}
		{% endmarkdown %}
		{% markdown %}
		| Datum | Wochentag |  |
		|---------|----------|---------|
		{% for p in collection %}
			{% set title = p.title|split(' ')[0] %}
			{% set start = p.header.event.start|td(null, config.plugins.events.event_item.date)|split(' ')[1]  %}
			{% set start = '[' ~ start ~ '](' ~ p.slug ~ ')' %}
			{% set startDay = p.header.event.start|td(null, config.plugins.events.event_item.date)|split(' ')[0]  %}
			{% set end = p.header.event.end|td(null, config.plugins.events.event_item.date) ~ ' | ' ~ p.header.event.end|td(null, config.plugins.events.event_item.time) %}
			{% set txt = '| ' ~ start|string ~ '| ' ~ startDay  ~ '| **' ~ title ~ '** |'  %}
			{{ txt }}
		{% endfor %}
		{% endmarkdown %}
		<br><!-- das ist ein Test -->
		<br>
		{% set A1 = 0 %}
		{% set v = 1 %}
		{{ A1 }}
		{% set A1 = A1 + 1 %}
		{{ A1 }}

			{% set ALT1_0 = 0 %}
	{% set ALT1_1 = 0 %}
	{% set ALT1_3 = 0 %}
	{% set ALT2_0 = 0 %}
	{% set ALT2_1 = 0 %}
	{% set ALT2_3 = 0 %}
	{% set SOPR_0 = 0 %}
	{% set SOPR_1 = 0 %}
	{% set SOPR_3 = 0 %}
	{% set TENO_0 = 0 %}
	{% set TENO_1 = 0 %}
	{% set TENO_3 = 0 %}
	{% set BASS_0 = 0 %}
	{% set BASS_1 = 0 %}
	{% set BASS_3 = 0 %}
			<br><!-- das ist ein Test -->
		<br><!-- test --><br>
		<!-- ALT1_1 : {{ ALT1_1 }} -->
		<!-- ALT1_2 : {{ ALT1_2 }} -->
		<!-- ALT1_3 : {{ ALT1_3 }} -->
		<!-- ALT2_1 : {{ ALT2_1 }} -->
		<!-- ALT2_2 : {{ ALT2_2 }} -->
		<!-- ALT2_3 : {{ ALT2_3 }} -->
		<br><!-- test --><br>
			<br><!-- das ist ein Test -->
	</div>
	<div class="events-container">
		<section class="events-listing">
			{% if collection|length != 0 %}
				{% for event in collection %}
					{% include 'partials/event_item_copy.html.twig' with { 'page': event, 'single': false } %}
				{% endfor %}
			{% else %}
				<h3>{{ "PLUGIN_EVENTS.EVENTS.NO_EVENTS_TITLE"|t }}</h3>
				<p>{{ ("PLUGIN_EVENTS.EVENTS.NO_EVENTS_CONTENT"|t(uri.param('category')))|markdown }}</p>
			{% endif %}
		</section>
		{#{% include 'partials/events_sidebar.html.twig' with { 'page': page.parent } %}#}
	</div>

	{# Render the pagination list #}
	{% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
		<div id="listing-footer">
			{% include 'partials/pagination.html.twig' with { base_url: page.url, pagination: collection.params.pagination } %}
		</div>
	{% endif %}

{% endblock %}
