{% extends 'partials/base.html.twig' %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}

{% set tags = uri.query('query') | replace({'+': " "}) %}
{% set collection = page.collection %}


{% if tags %}
	{% set noten_collection = page.collection({'items':{'@taxonomy':{'category': 'Noten', 'tag': tags}},'order': {'by': 'default', 'dir': 'asc'}}) %}
{% else %}
	{% set noten_collection = page.collection({'items':{'@taxonomy':{'category': 'Noten'}},'order': {'by': 'default', 'dir': 'asc'}}) %}
{% endif %}


{% block content %}
	{% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
		{% include 'partials/breadcrumbs.html.twig' %}
	{% endif %}

	<div>
		<button id="printBtn">
			Drucken
		</button>
		<script type="text/javascript">
			document.getElementById('printBtn').onclick = function printContent() {

var printwin = window.open("");
printwin.document.write(document.getElementById("DRUCK").innerHTML);
printwin.stop();

setTimeout(function () {
printwin.print();
}, 500);

printwin.onfocus = function () {
setTimeout(function () {
printwin.close();
}, 500);
}


}
		</script>
	</div>

	<section id="DRUCK">
		<div class="content-padding simplesearch">
			<p>{{ page.content|raw }}</p>
			<p>
				{% if tags %}
					<h2>{{ tags }}</h2>
				{% else %}
					<h2>Alle Noten</h2>
				{% endif %}
				<small>Stand:
					{{ now|date("d.m.Y", "Europe/Berlin") }}
					-
					{{ noten_collection.count }}
					Stücke</small>
			</p>
			<ul>
				{% for page in noten_collection %}
					<li>
						{{ page.title }}
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>
{% endblock %}
